.masonryGrid {
    column-count: 3;
    column-gap: 1rem;
}

.masonryGridItem {
    break-inside: avoid;
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    .masonryGrid {
        column-count: 2;
    }
}

@media (max-width: 500px) {
    .masonryGrid {
        column-count: 1;
    }
}
