@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* text material*/
body {
  font-family: 'Montserat', sans-serif;
  background-color: #FFF9F7; /* Light beige */
  color: #333; /* Near black */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h1, h2, h3 {
  font-weight: 600;
  font-family: 'Montserat', sans-serif;
}

a:hover {
  color:#064f39;
  text-decoration: underline;
}


/*navbar material*/
.nav {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  margin-right: 15px; /* Space between the nav items */
  transition: transform 0.3s;
  
}

.nav-item:hover {
  color: lightgray;
}

.bio-text {
  padding: 20px;
  background-color: #fff7e6; /* Pale gold background */
  border-radius: 12px; /* Rounded corners */
  color: black; /* Black text for contrast */
  background-color: #fff3cc; /* Pale gold */
}

.sparkly-text {
  font-weight: bold;
  position: relative;
  color: #064f39; /* Dark forest green */
}

.bounce-link-container {
  text-align: center;
  padding: 20px 0; /* Add padding at the bottom for spacing */
}

.bounce-link {
  display: inline-block;
  color:gray;
  text-decoration: none; /* Removes underline from the link */
  font-size: 1rem; /* Sets the font size similar to the rest of your text */
  font-weight: normal; /* Regular font weight */
  margin: 0;
  animation: bounce 2s infinite;
}

.project-tag, .tag {
  display: inline-block;
  border-radius: 4px;
  padding: 0.25rem 0.5rem; /* Adjust padding to control height */
  margin: 0.25rem 0.5rem 0.25rem 0; /* Add more vertical margin for spacing */
  font-size: 0.8rem;
  margin-bottom: 0.5rem; /* Add more bottom margin for spacing */
}

.tag{
  background-color: #e0e0e0;
}

.project-tag {
  background-color: #efe6af;
}

/* Add some space above the tags container */
.project-tags, .tags {
  margin-top: 0.2rem; /* Add space above the tags */
}


@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 5.7s linear infinite;
}