/* ResumeItem.module.css */

.resumeItem {
    padding: 5px;
}
  
.companyName {
    font-size: 1.25em;
    color: #333;
    margin-bottom: 2px;
}
  
.positionName1 {
    font-size: 1em;
    color: #666;
    margin-bottom: 2px;
}

.positionName2 {
    font-size: 1em;
    color: #666;
    margin-top: 10px;
    margin-bottom: 2px;
}
  
.teamName {
    font-size: 0.9em;
    color: #666;
}

.link {
    color: #064f39;
    text-decoration: underline;
}